//colors
$black-darkest: #262522;
$black-dark: #302E2B;
$primary-green: #769656;
$highlight-red: #FF2424;
$white: #FFFFFF;
$border-gray: #ccc;
$light-yellow: #EBECD0;


//font-sizes
$base-font: 1rem;
$navbar-headline-font: 2 * $base-font;
$sidebar-headline-font: 1.5 * $base-font;