@import "@/scss/_variables.scss";

.board-div{
    padding: 0;
    margin-top: 4rem;
  }
  .board-row {
    display: flex;
    justify-content: center;
  }
  
  .board-square {
    width: 3.75rem;
    height: 3.75rem;
    border: 1px solid $border-gray;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: $light-yellow;
    color: $primary-green;
    padding-top: 1rem;
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .highlighted {
    background-color: $highlight-red !important;
    color: $white !important;
  }

  /* Style for even rows */
.board-row:nth-child(even) .board-square:nth-child(even) {
  background-color: $primary-green;
  color: $light-yellow;
}

/* Style for odd rows */
.board-row:nth-child(odd) .board-square:nth-child(odd) {
  background-color: $primary-green;
  color: $light-yellow;
}
@media only screen and (max-width: 530px) {
  .board-square {
    width: 2.5rem;
    height: 2.5rem;
  }
}