@import "@/scss/_variables.scss";
@import "@/scss/_buttons.scss";


.sidebar-div {
    color: $border-gray;
    background: $black-darkest;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 1rem; 
    height: auto;
    font-family: 'Poppins', sans-serif;
  }
  
  .sidebar-headline {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-size: $sidebar-headline-font; 
  }
    
  .move-class {
    text-align: center;
    margin-bottom: 0.5rem;
    background: $primary-green;
    border: 1px solid $border-gray;
    border-radius: 0.375rem;
    height: 1.875rem;
    width: 100%;
    color: $white;
    display: inline-block;
    margin-right: 0.375rem;
    margin-left: 0.375rem;
  }
  
  .move-class-even {
    background-color: $light-yellow;
    border: 2px solid $primary-green;
    color: $primary-green;
  }
  
  @media only screen and (max-width: 1000px) {
    .reset-button {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
    .sidebar-div{
      width: 100%;
      padding: 10%;
      text-align: center;
    }
    .move-class{
      width: 3.75rem;
      display: inline-block;
    }
  }